@model IEnumerable<Contact>

@using (Html.BeginForm("UploadFile", "Contact", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="mb-3">
        <div class="input-group">
            <input type="file" name="file" class="form-control">
            <button class="btn btn-outline-secondary" type="submit" value="Upload">Upload</button>
        </div>
        <div>@TempData["Message"]</div>
    </div>    
}

<div ng-controller="ContactManagerController">
    <div class="input-group mb-3">
        <div class ="input-group-prepend">
            <span class="input-group-text">Filter by the</span>
        </div>        
        <select class="form-select" ng-model="col" ng-options="field for field in contactFields"></select>
        <input class="form-control" type="text" ng-model="searchWord[col]" />
    </div>

    <table class="table table-striped table-borderless" id="daysTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Married)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salary)
                </th>
                <th width="150px"></th>
            </tr>
        </thead>
        <tbody ng-init="contacts">
            <tr ng-repeat="contact in contacts | filter: searchWord">
                <td>{{contact.name}}</td>
                <td>{{contact.dateOfBirth}}</td>
                <td>{{contact.married}}</td>
                <td>{{contact.phone}}</td>
                <td>{{contact.salary}}</td>
                <td>
                    <button class="btn btn-warning">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
